<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/site/css/style.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        {% include "site/header.html" %}
        {% block content %}
        {% endblock %}
        {% include "site/footer.html" %}        
    </div>

</body>

</html>